.markdown-body {
    font-size: 17px;
}

strong {
    font-weight: 500;
    color: var(--highlight-color);
}

em {
    color: var(--highlight-color);
}

.icon {
    mask-position: center center;
    mask-size: contain;
    height: 24px;
    aspect-ratio: 1;
    background-color: var(--highlight-color);
}

h1 > .icon {
    height: 30px;
}

a.external-link {
    color: var(--highlight-color);
    text-decoration: underline;
    word-break: break-word;

    background-image: var(--external-link-icon);
    background-size: 12px;
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 16px;
}

a.documentation-link {
    color: var(--highlight-color);
    text-decoration: underline;
    word-break: break-word;
    
    background-image: var(--external-link-icon), var(--documentation-link-icon);
    background-size: 12px, 16px;
    background-position: center right, center left;
    background-repeat: no-repeat;
    padding-right: 16px;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: var(--redirection-color);

    > img {
        height: 16px;
        margin: 0px;
        padding: 0px;
    }
}

h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0px;
    margin-top: 15px;
}

h1 {
    margin-bottom: 30px;
    color: var(--highlight-color);

    > img {
        height: 32px;
        margin: 0px;
        padding: 0px;
    }
}

h2 {
    border: solid 2px var(--highlight-color);
    background-color: light-dark(#0000, var(--highlight-color));
    padding: 2px 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 40px;

    > img {
        height: 24px;
        margin: 0px;
        padding: 0px;
    }
}

h3 {
    margin-bottom: 10px;
}

h3 > img {
    height: 24px;
    margin: 0px;
    padding: 0px;
}

p > img, span > img {
    height: 16px;
    margin: 0px;
    padding: 0px;
}

li img {
    height: 16px;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

blockquote {
    border-left: 2px solid var(--highlight-color);
    border-radius: 5px; 
    margin: 15px;
    margin-left: 0px;
    padding: 0px 30px;
}

img {
    max-width: 100%;
    margin: 15px 0px;
}

li {
    margin-bottom: 10px;
}

code {
    color: var(--code-color);
    word-wrap: break-word;
}

iframe {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
}

iframe-player {
    width: 100%;
    aspect-ratio: 16/9;
    display: block;
}

.side-by-side {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: flex-end;

    > * {
        width: 20px;
        height: max-content;
        flex: 1;
    }
}

.side-by-side.content {
    > * {
        height: 100%;
        flex: content;
    }
}

.side-by-side.two-to-one,
.side-by-side.one-to-two {
    margin: 15px 0px;
    display: grid;
    grid-template:
        "a b"
        "c b" / 1fr 2fr
    ;
    
    > * {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    :nth-child(1) {
        grid-area: a;
    }
    :nth-child(2) {
        grid-area: b;
    }
    :nth-child(3) {
        grid-area: c;
    }
}

.side-by-side.one-to-two {
    grid-template:
        "a b"
        "a c" / 1fr 1fr
    ;
}

@media screen and (max-width: 700px) {
    .side-by-side {
        flex-direction: column;

        > * {
            width: 100%;    
        }
    }

    .side-by-side.two-to-one,
    .side-by-side.one-to-two {
        display: flex;
        flex-direction: column;
    }
}


/* ----- itch-grid ----- */
.itch-grid {
    display: grid;
    /* Au dessus de 1000px */
    grid-template-columns: repeat(4, 1fr);
}

.ytb-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
}

.ytb-grid iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

/* 0 à 440 */
@media screen and (max-width: 440px) {
    .itch-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .ytb-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 440 à 700*/
@media screen and (min-width: 440px) and (max-width: 700px) {
    .itch-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .ytb-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 700 à 1000 */
@media screen and (min-width: 700px) and (max-width: 1000px) {
    .itch-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .ytb-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* ----- itch-grid ----- */