:root {
    /* Themes Colors */
    --background-color-light-theme-1: #e1e1e1;
    /* --background-color-light-theme-1: #FEF6E4; */
    --background-color-dark-theme-1: #151515;
    
    --background-color-light-theme-2: #dadada;
    /* --background-color-light-theme-2: #FEF6E4; */
    --background-color-dark-theme-2: #0e0e0e;

    --text-color-light-theme: #1b1b1b;
    --text-color-dark-theme: #f1f1f1;

    --text-color-faded-light-theme: #808080;
    --text-color-faded-dark-theme: #898989;

    --highlight-color-light-theme: #008B8B;
    --highlight-color-dark-theme: #65BED4;

    --redirection-color-light-theme: #E79A00;
    --redirection-color-dark-theme: #F2BF4A;

    --highlight-color-transparent-light-theme: #65bed44f;
    --highlight-color-transparent-dark-theme: #008B8B4f;

    --hover-background-color-light-theme: #c1c1c1;
    --hover-background-color-dark-theme: #2b2b2b;

    --border-color-light-theme: #adadad;
    --border-color-light-theme: #cfc09da0;
    --border-color-dark-theme: #2d2d2d;

    /* Variables */
    --background-color-1: light-dark(var(--background-color-light-theme-1), var(--background-color-dark-theme-1));
    --background-color-2: light-dark(var(--background-color-light-theme-2), var(--background-color-dark-theme-2));
    --body-text-color: light-dark(var(--text-color-light-theme), var(--text-color-dark-theme));
    --body-text-color-faded: light-dark(var(--text-color-faded-light-theme), var(--text-color-faded-dark-theme));
    --highlight-color: light-dark(var(--highlight-color-light-theme), var(--highlight-color-dark-theme));
    --highlight-color-transparent: light-dark(var(--highlight-color-transparent-light-theme), var(--highlight-color-transparent-dark-theme));
    --redirection-color: light-dark(var(--redirection-color-light-theme), var(--redirection-color-dark-theme));
    --hover-background-color: light-dark(var(--hover-background-color-light-theme), var(--hover-background-color-dark-theme));
    --border-color: light-dark(var(--border-color-light-theme), var(--border-color-dark-theme));
}

body {
    font-family: prompt;
    font-weight: 300;
    background-color: var(--background-color-1);
    color: var(--body-text-color);
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;

    height: 100vh;
    max-height: 100vh;
}

.content {
    flex: 1;
    
    display: flex;
    flex-direction: row;

    background-color: var(--background-color-2);
    min-height: 0;
    /* padding-top: 20px; */
}

.content > left-panel {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.article {
    flex: 1;
    padding: 30px 0px;
    overflow-y: scroll;
}

right-panel, left-panel {
    overflow-y: scroll;
}
